In [3]:
height = [72,68,69,64,72,72] # in inches
height_m = [0] * 6

for i in range(len(height)):
    height_m[i] = height[i] * 0.0254

In [17]:
import numpy as np
height = [72,68,69,64,72,72] # in inches
np_height = np.array(height)
np_height

array([72, 68, 69, 64, 72, 72])

In [22]:
# Convert np_height to meters
np_height_m = np_height * 0.0254
np_height_m

array([1.8288, 1.7272, 1.7526, 1.6256, 1.8288, 1.8288])

In [23]:
###############################################################
python_list1 = [2,4,6]
python_list2 = [1,3,5]

numpy_list1 = np.array(python_list1)
numpy_list2 = np.array(python_list2)

In [24]:
python_list1 + python_list2

[2, 4, 6, 1, 3, 5]

In [25]:
numpy_list1 + numpy_list2

array([ 3,  7, 11])

In [27]:
###############################################################
numbers = [10,15,20,35]
numbers2 = [10.0,15.1,19.5]

x = np.array(numbers)
y = np.array(numbers, dtype = "float")
y

array([10., 15., 20., 35.])

In [28]:
x.dtype

dtype('int32')

In [29]:
y.dtype

dtype('float64')

In [30]:
age = np.array([18,23,89,11,35,37,26,52,76])
age

array([18, 23, 89, 11, 35, 37, 26, 52, 76])

In [31]:
age[2]

89

In [35]:
age[2:5]

array([89, 11, 35])

In [37]:
age[:3]

array([18, 23, 89])

In [43]:
age[-3:]

array([26, 52, 76])

In [44]:
age[::-1]

array([76, 52, 26, 37, 35, 11, 89, 23, 18])

In [45]:
################################################################
np.arange(1,8)

array([1, 2, 3, 4, 5, 6, 7])

In [46]:
np.arange(2,10,2)

array([2, 4, 6, 8])

In [47]:
np.arange(2,10.1,2)

array([ 2.,  4.,  6.,  8., 10.])

In [48]:
np.arange(5)

array([0, 1, 2, 3, 4])

In [49]:
np.arange(-6,3)

array([-6, -5, -4, -3, -2, -1,  0,  1,  2])

In [52]:
np.arange(5,0,-1)

array([5, 4, 3, 2, 1])

In [53]:
age

array([18, 23, 89, 11, 35, 37, 26, 52, 76])

In [54]:
age>35

array([False, False,  True, False, False,  True, False,  True,  True])

In [56]:
age[age>35]

array([89, 37, 52, 76])

In [ ]:
#35 < age < 55

In [59]:
age[(age>35) & (age<55)]

array([37, 52])

In [ ]:
# &: and
# |: or
# ~: not

In [62]:
np.zeros(6) # generate n zeros and fills an array

array([0., 0., 0., 0., 0., 0.])