In [1]:
import pandas as pd

In [8]:
# Pandas Series
my_series = pd.Series([10,30,-6,9])

In [9]:
my_series

0    10
1    30
2    -6
3     9
dtype: int64

In [12]:
print(my_series.index) # returns index
print(my_series.values) # returns values

RangeIndex(start=0, stop=4, step=1)
[10 30 -6  9]

In [15]:
my_series2 = pd.Series([10,30,6,9],index=['Bill','Denise','John','Cassandra'])
my_series2

Bill         10
Denise       30
John          6
Cassandra     9
dtype: int64

In [18]:
print(my_series2[1])
print(my_series2['Denise'])

30
30

In [20]:
population_dict = {
    'California' : 38000,
    'Texas' : 26400,
    'New York': 196000,
    'Florida' : 19000
}

In [24]:
population = pd.Series(population_dict)
print(population)

California     38000
Texas          26400
New York      196000
Florida        19000
dtype: int64

In [28]:
population.mean()

69850.0

In [29]:
import numpy as np
np.mean(population) # numpy can take a pandas object!!

69850.0

In [31]:
#mean(population) # this would run in R, not in Python

In [32]:
# create a dict of lists
my_dict = {
    'name':['Bella','Charlie','Lucy'],
    'breed':['Labrador','Poodle','ChowChow'],
    'color':['Brown','Black','Brown'],
    'weight':[24,24,17]
}

In [33]:
my_dict

{'name': ['Bella', 'Charlie', 'Lucy'],
 'breed': ['Labrador', 'Poodle', 'ChowChow'],
 'color': ['Brown', 'Black', 'Brown'],
 'weight': [24, 24, 17]}

In [34]:
df = pd.DataFrame(my_dict)
print(df)

      name     breed  color  weight
0    Bella  Labrador  Brown      24
1  Charlie    Poodle  Black      24
2     Lucy  ChowChow  Brown      17

In [35]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [36]:
df.columns

Index(['name', 'breed', 'color', 'weight'], dtype='object')

In [37]:
df.values

array([['Bella', 'Labrador', 'Brown', 24],
       ['Charlie', 'Poodle', 'Black', 24],
       ['Lucy', 'ChowChow', 'Brown', 17]], dtype=object)

In [41]:
# read_csv() function to read in csv files in pandas
pd.read_csv(r'C:\Users\bilene\Downloads\gapminder.csv')
#pd.read_csv(r'https://raw.githubusercontent.com/ernbilen/Data200_Fall22/main/data/countries.csv')

          country continent  year  lifeExpectancy  population  gdpPerCapita
0     Afghanistan      Asia  1952          28.801     8425333    779.445314
1     Afghanistan      Asia  1957          30.332     9240934    820.853030
2     Afghanistan      Asia  1962          31.997    10267083    853.100710
3     Afghanistan      Asia  1967          34.020    11537966    836.197138
4     Afghanistan      Asia  1972          36.088    13079460    739.981106
...           ...       ...   ...             ...         ...           ...
1699     Zimbabwe    Africa  1987          62.351     9216418    706.157306
1700     Zimbabwe    Africa  1992          60.377    10704340    693.420786
1701     Zimbabwe    Africa  1997          46.809    11404948    792.449960
1702     Zimbabwe    Africa  2002          39.989    11926563    672.038623
1703     Zimbabwe    Africa  2007          43.487    12311143    469.709298

[1704 rows x 6 columns]